.message,.my-message{
    width: 49%;

    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding:10px;
    margin-left: 5px;
    background-color:#00000025;
    color:aliceblue;
    margin-bottom: 5px;
    align-items: flex-start;
    transition: ease .3s;
    border-radius: 5px;
    font-size:  calc(5px + 5 * (100vw / 1880));

}

.my-message{
    background-color:rgba(41, 157, 185, 0.39);
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
      align-items: flex-start;
      margin: 0 auto;
      margin-left: 50%;
      margin-bottom: 5px;
      transition: ease .3s;
      border-radius: 5px;
}

.input-btn{
    width: 30px;
    height: 30px;

    transition: ease .3s;
    color:black;
    justify-content: center;
    align-items: center;
}

.input-btn:hover{
    filter: brightness(.8);
    transition: ease .3s;
}

.message:hover{
    transition: ease .3s;
    background-color: rgba(187, 187, 187, 0.438);
    box-shadow: 0 1px 0 rgba(8, 8, 8, 0.397);
}
.my-message:hover{
    transition: ease .3s;
    background-color:rgba(51, 190, 224, 0.39);
    box-shadow: 0 1px 0 rgba(79, 153, 167, 0.397);
}

.message h3, .my-message h3{
    height: 5px;
    color: rgb(41, 41, 41);
    font-size: 1.3rem;
    margin-left: 10px;
}

.message h2, .my-message h2{
    text-align: justify;
    margin-left: 5px;
}

.message__user-avatar{
    width:70px;
    height: 70px;
    border-radius: 100%;
}

.message-photo{
    width: 100%;
    height: 60%;
    box-sizing: border-box;
}

.message__tools{
    display: flex;
    gap:5px
}

.message__user-avatar-nikName{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 790px) {
    .message{
        width:80%;

        font-size:  1rem;
    }
    .my-message{
        width:80%;
        margin-left:10%;
        font-size:  1rem;
    }
    .message h2, .my-message h2{
        text-align: justify;
        font-size: .7rem;
        margin-left: 5px;
    }

    .message__user-avatar{
        width:40px;
        height: 40px;
    }
    .message__user-avatar-nikName h3{
        font-size: .7rem;
    }
}   