.my-navlink{
    color: rgb(255, 255, 255);
    font-size: calc(5px + 20 * (100vw / 1280));
    text-decoration: none;
}

.my-navlink:hover{
    color: rgb(175, 175, 175);
}
@media screen and (max-width: 790px) {
    .my-navlink{
        font-size: calc(15px + 20 * (100vw / 1280));
    }
}   

.room-btn-join{
    color: black;
    display: flex;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 500;
}

.room-btn-join:hover{
    color: rgb(83, 83, 83);
}